{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ author.name }}</h1>
            <h2>今まで書いた記事</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.pub_date }}</td>
                        <td>
                            <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
